body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    transition: background 0.3s, color 0.3s;
}

header {
    background-color: #eb03eb;
    color: white;
    text-align: center;
    padding: 20px;
}

main {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.card {
    width: 80%;
    max-width: 600px;
    background-color: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

p {
    font-size: 16px;
    line-height: 1.6;
}

button { 
    margin: 8px;
    padding: 12px 20px;
    font-size: 16px;
    border: none;
    background-color: #eb03eb;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    background-color: #b802b8;
}

/* --- ESTILOS DE ALTO CONTRASTE --- */
.contraste {
    background-color: black;
    color: yellow;
}

.contraste .card {
    background-color: black;
    color: yellow;
    border: 2px solid yellow;
    box-shadow: none;
}

.contraste button {
    background-color: yellow;
    color: black;
    font-weight: bold;
}

.contraste button:hover {
    background-color: white;
}
